<div [$[DIV_ADMIN_VISIBLE]$]
	class="ui-g-12 ui-md-4">
	<div class="ui-sm-12 ui-g-12">
		<p:outputLabel value="[$[UPPER_FIELD_NAME]$]" />
	</div>
	<div class="ui-sm-12 ui-g-12">
		<p:outputLabel value="#{item.[$[FIELD_VAR_NAME]$]}"[$[F:CONVERTER]$]>
	</div>
</div>
